<h1>
  Edit team1a #<%= @team1a.id %>
</h1>

<hr>

<!-- Form team1a start -->
<form action="/update_team1a/<%= @team1a.id %>" method="post">
<!-- Form team1a end -->

  <button class="btn btn-block btn-outline-secondary">
    Update team1a
  </button>
</form>

<hr>

<a href="/team1as">
  Go back
</a>
