<% if @team1a.errors.any? %>
  <% @team1a.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit team1a #<%= @team1a.id %>
</h1>

<hr>

<form action="/update_team1a/<%= @team1a.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update team1a
  </button>
</form>

<hr>

<a href="/team1as">
  Go back
</a>
