<h1>
  Add a new team1a
</h1>


<hr>

<form action="/create_team1a" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create team1a
  </button>
</form>

<hr>

<a href="/team1as">
  Go back
</a>
