<!-- Validation failure messages -->
<% if @university_a.errors.any? %>
  <% @university_a.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit university a #<%= @university_a.id %>
</h1>

<hr>

<!-- Form university_a start -->
<form action="/update_university_a/<%= @university_a.id %>" method="post">
<!-- Form university_a end -->

  <button class="btn btn-block btn-outline-secondary">
    Update university a
  </button>
</form>

<hr>

<a href="/university_as">
  Go back
</a>
