<h1>
  Edit university a #<%= @university_a.id %>
</h1>

<hr>

<form action="/update_university_a/<%= @university_a.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update university a
  </button>
</form>

<hr>

<a href="/university_as">
  Go back
</a>
