<% if @university_a.present? %>
  <% if @university_a.errors.any? %>
    <% @university_a.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new university a
</h1>


<hr>

<form action="/create_university_a" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create university a
  </button>
</form>

<hr>

<a href="/university_as">
  Go back
</a>
